.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f6f8f9;
}

.mainLayout {
  width: 100%;
  height: 100% !important;
  .gridItem {
    position: relative;
    :global {
      .react-resizable-handle {
        z-index: 10000 !important;
      }
    }
    .delete {
      position: absolute;
      top: 0;
      right: 0;
      width: 16px;
      height: 16px;
      overflow: hidden;
      z-index: 1000;

      img {
        position: relative;
        right: -3px;
        top: -4px;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }
  }
  // .gridItem:hover {
  //   border: 1px solid #1991eb;
  // }
  .gridItem.active {
    border: 1px solid #1991eb;
  }
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent 0 1px, #f6f8f9 1px 3px, transparent 1px 100%),
    linear-gradient(180deg, transparent, #b3babf 0 1px, transparent 1px 100%);
  background-position: 0 0;
}

.lines_2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, transparent, #f6f8f9 0 2px, transparent 1px 100%),
    linear-gradient(270deg, transparent, #b3babf 0 1px, transparent 0);
  background-position: 0 0;
}
